<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="ciao">
        <img src="https://i.natgeofe.com/k/093c14b4-978e-41f7-b1aa-3aff5d1c608a/gray-wolf-closeup.jpg?wp=1&w=897.5&h=505" alt="">
        <h1>card</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores similique ab quia enim neque, praesentium nemo voluptates architecto molestias delectus ipsa, mollitia aperiam quis reiciendis? Quibusdam quaerat nisi rem dolorem.</p>
    </div>
</body>
</html>